[Unit]
Description=mouseless

[Service]
ExecStart=/usr/bin/mouseless --config /home/brogrammer/.config/mouseless/config.yaml

[Install]
WantedBy=multi-user.target
