# ignore everything
*

# allow root metadata
!.gitignore
!README.md

# allow specific dotfiles
!.tmux.conf
!.vimrc
!.viminfo
!rain.sh
!notes
!done-this

# allow directories themselves
!.config/
!.config/systemd/
!.config/sway/
!.tmux/
!.vim/
!.cargo/
!.local/
!.local/bin/

# optionally allow all cargo content
!.cargo/**

# optionally allow all vim content
!.vim/**

# optionally allow all tmux content
!.tmux/**

.viminfo
.cargo/registry
.cargo/.global-cache
.cargo/git/db
.cargo/git/CACHEDIR.TAG
