/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config - Clipboard */

@import "~/.config/rofi/launchers/type-1/style-11.rasi" 
/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: " search clipboard ctrl del-del or alt del-wipe";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}

window {
  width: 1000px;
}
