/* ---- 💫 https://github.com/JaKooLit 💫 ---- */
/* Clipboard Config - Clipboard */

@import "~/.config/rofi/master-config.rasi"  

/* ---- Entry ---- */
entry {
  width: 37%;
  placeholder: " search clipboard ctrl del-del or alt del-wipe";
}

/* ---- Listview ---- */
listview {
  columns: 1;
  lines: 8;
}
